# API
PORT=4000
JWT_SECRET=change_this_secret
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/shaadihub?schema=public
OTP_PROVIDER=mock
CLOUDINARY_CLOUD_NAME=demo
CLOUDINARY_API_KEY=demo
CLOUDINARY_API_SECRET=demo

